//LANDING PAGE
.icon-loader {
    font-size: 60px;
    color: white;
    
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.Landing {
    background-image: url("./bkg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: none;
}

.container,
.first,
.second {
  position: absolute;
}

.container {
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 170px;
  height: 50px;
  transition: all 0.3s ease; 
}

.wrap {
  width: 90%;
  height: 50px;
  border: 2px solid rgb(68, 27, 27);
  transition: all 0.3s ease;
  border-radius: 5px;
  transform:  rotate(5deg) perspective(1000px);
}

.first,
.second {
  width: 100%;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  transition: all 0.2s ease-in-out;
  font-size: 17px;
  text-transform: uppercase;
  color: rgb(197, 100, 100);
  letter-spacing: 2px; 
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}

.second {
  opacity: 0;
}

.container:hover {
   width: 280px;
  
  .wrap {
  padding-bottom: 17px;
  }
  .first {
    transform: translateY(-8px);
    padding-top: 5px;
  }
  .second {
    transform: translateY(20px);
    opacity: 1;
  }
}

body{
    // background-image: url("./bkg5.jpg");
    background: url("./11854.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
//   zoom: 60%;
// background-size: 1700px;
// margin-top: 0%;
// margin-bottom: 0%;
// margin-left: 50px;
// padding-left: 50px;
}


////HOME Y CARDS
.titulo {
    margin-top: 10px;
}
.home {
    width: 50%;
    margin: 0 auto;
    bottom: 100%;
    border: none;
}
.boton-cargar, .boton-crear {
    height: 3rem;
    background-color: transparent;
    backdrop-filter: blur(30px);
    color: #FBFF00;
    border-style: solid;
    border-color: black;
    border-width: .2rem;
    font-family:monospace;
    font-weight: 700;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 120px;
}
.boton-crear {
    margin-right: 20px;
}
.boton-cargar:hover, .boton-crear:hover {
    background-color: rgba(245, 245, 245, 0.849);
}

.card {
   display: flex;
   background-color: transparent;
   backdrop-filter: blur(10px);
   border-radius: 10px;
   top: 20vh;
   bottom: 20vh;
   height: 350px;
   width: 300px;
   padding: 40px 0;
   margin-top: auto;
   text-decoration: none;
   align-items: center;
   justify-content: center;
   border-style: solid;
   border-color: black;
   border-width: .2rem;
}
.card:hover {
    background-color: rgba(245, 245, 245, 0.658);
    cursor: grabbing;
}

.cards {
    display: inline-grid;
  width:100%;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
  padding: 20px 0px 20px 0px;
}

.imgCard {
    height: 250px;
    width: 250px;
    border-radius: 10px;
     border-style: solid;
    border-color: black;
    border-width: .2rem;
}

.generosCard {
    display: inline-grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(3, 1fr);
    color: #FFF8F3;
    align-items: center;
    margin-right: 20px;
}

.nameCard {
    text-decoration: none;
    color: #FFF8F3;
    cursor: pointer;
   
}

//// DETAILS

.detailContainer {
    background-color: rgba(245, 245, 245, 0.686);
    align-items: center;
    justify-content: center;
    bottom: 0px;
    top: 0px;
    display: flex;
    flex-wrap: wrap;
    background-size: cover;
    background-repeat: repeat;
    margin: 0 auto;
}
.detailName {
    margin-top: 20px;
    font-size: 20px;
    font-family: sans-serif;
    color: black;
}
.detailImg {
    width:350px;
    height: 300px;
    border: solid;
    border-color: black;
    border-width: .2rem;
    border-radius: 10px;
    filter: drop-shadow(16px 16px 20px #FBFF00)
}
.descripcionDetail {
    margin-right: 20px;
    margin-left: 20px;
    word-spacing: 5px;
    color: black;
}
.generosDetail {
    display: flex;
    justify-content: center;
    align-items: center;
    text-indent: 50px;
    white-space: nowrap;
    color: black;
}
.plataformasDetail {
    display: flex;
    justify-content: center;
    color: black;
}
.botonDetail {
    height: 3rem;
    background-color: rgba(245, 245, 245, 0.733);
    color: rgba(197, 100, 100, 0.781);
    border-style: solid;
    border-color: black;
    border-width: .2rem;
    font-family:monospace;
    font-weight: 700;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
}
.fechaDetail, .ratingDetail {
    color: black;
}

//// PAGINADO

.paginado {
    cursor: pointer;
    display: inline-block;
     width: 100%;
    color: #FFF0F5;
    text-decoration: none;
    transition: background-color .3s;
    border-radius: 5px;
    column-gap: 2px;
    font-size: 20px;
    font-weight: 2000px;
    margin-right: 56px;
    margin-bottom: 30px;
    margin-top: 10px;
}
.numPaginado {
    border-style: solid;
    border-color: black;
    border-width: .2rem;
    display: inline;
    justify-content: space-around;
    left: 0;
    border-radius: 5px;
   font-weight: 500;
   background-color: rgba(100, 183, 197, 0.527);
}

.paginado a {
    text-align: center;
    padding: 0px 10px 0px 10px;
    border: 2px solid black;
}

.paginado a.active {
  color: white;
  border-radius: 5px;
  color: #FFF0F5;
  float: right;
  text-decoration: none;
  transition: background-color .3s;
  border-radius: 5px;
}
.paginado a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
    
}

.paginado ul{
    padding: 0px;
}


/////SEARCHBAR
.searchVideogame {
    display: flex;
    justify-content: center;
    padding: 20px 0 20px 0;
    float: left;
    margin-left: -47%;
    margin-top: -7%;
}
.inputSearch{
    background-color: transparent;
    border: none;
    color: rgba(197, 100, 100, 0.527);
    font-size: 1.5rem;
    font-weight: 300;
    
}
.input:focus {
    outline: none;
}
.input::placeholder {
    color: rgb(245, 245, 245);
}
.searchBoton {
    border: solid 2px transparent;
    border-radius: 20px;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: background-color 0.25s;
    cursor: pointer;
    color: white;
}
.searchBoton:hover {
    background-color: rgba(245, 245, 245, 0.849);
}

////////FILTROS
.filtroABC {
    border: solid 2px transparent;
    background-color: transparent;
    backdrop-filter: blur(35px);
    color: #49FF00;
    cursor: pointer;
    font-family: 'Segoe UI';
    border-width: .2rem;
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    margin-top: 10px;
    font-weight: 500;
}
.filtroABC:hover {
    background-color: rgba(245, 245, 245, 0.849);
}

.filtroVG {
    border: solid 2px transparent;
    background-color: transparent;
    backdrop-filter: blur(35px);
    color: #49FF00;
    cursor: pointer;
    font-family: 'Segoe UI';
    border-width: .2rem;
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    margin-top: 10px;
    font-weight: 500;
}
.filtroVG:hover {
    background-color: rgba(245, 245, 245, 0.849);
}

.filtroRating {
    border: solid 2px transparent;
    background-color: transparent;
    backdrop-filter: blur(35px);
    color: #49FF00;
    cursor: pointer;
    font-family: 'Segoe UI';
    border-width: .2rem;
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    margin-top: 10px;
    font-weight: 500;
}
.filtroRating:hover {
    background-color: rgba(245, 245, 245, 0.849);
}
.filtroGenero {
    border: solid 2px transparent;
    background-color: transparent;
    backdrop-filter: blur(35px);
    color: #49FF00;
    cursor: pointer;
    font-family: 'Segoe UI';
    border-width: .2rem;
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    margin-top: 10px;
    font-weight: 500;
}
.filtroGenero:hover {
    background-color: rgba(245, 245, 245, 0.849);
}

//////ERORS
.error {
    font-family: Verdana;
    font-size: 12px;
    font-weight: 400;
    color: red;
}
/////CREATEVIDEOGAME
.formulario {
    width: 400px;
    padding: 10px;
    margin: 0 auto;
    background-color: transparent;
    backdrop-filter: blur(40px);
    border-style: solid;
    border-width: .3rem;
    border-color: black;
    border-radius: 10px;
    margin-top: 190px;
}

.boton-crearVg, .botonVolver-CV {
    height: 3rem;
    background-color: rgba(245, 245, 245, 0.733);
    color: #00FFF0;
    border-style: solid;
    border-color: white;
    border-width: .2rem;
    font-family:monospace;
    font-weight: 700;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
}

.botonVolver-CV {
    height: 1.5rem;
    font-size: 10px;
}
.boton-crearVg:hover, .botonVolver-CV {
    background-color: rgba(245, 245, 245, 0.849);
}
.label-genero {
    height: 1.5rem;
    color: rgb(245, 245, 245);
}
.input-CV {
    border-style: solid;
    border-width: .1rem;
    border-color: white;
    border-radius: 5px;
    background-color: transparent;
    backdrop-filter: blur(0.5px);
    color: white;
    display: list-item;
    text-align: center;
    
}
.boton-cerrar {
    border: solid 2px transparent;
    border-radius: 9999px;
    justify-content: center;
    width: 1.5rem;
    padding: 0;
     background-color: transparent;
     transition: background-color 0.25s;
   margin-left: 0.75rem;
    cursor: pointer;
    color: white;
    align-items: center;
    margin-right: -0.5rem;
    margin-bottom: 0.15rem;
    margin-top: -0.15rem;
}

.boton-cerrar:hover {
    background-color: rgba(197, 100, 100, 0.733);
}